@using MindLink.Data.Services
@inject NavigationManager NavManager
@inject UserSessionService Session
<link href="/css/site.css" rel="stylesheet" />
<link href="/css/custom-navbar.css" rel="stylesheet" />


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="\homepage">MindLink</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (Session.IsLoggedIn && Session.CurrentUser?.RoleId == 1)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/homepage" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Начало
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/archive">
                    <span class="oi oi-book" aria-hidden="true"></span> Архив
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/stats">
                    <span class="oi oi-graph" aria-hidden="true"></span> Статистика
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/resources">
                    <span class="oi oi-graph" aria-hidden="true"></span> Ресурси
                </NavLink>
            </div>
        }
        @if (Session.IsLoggedIn && Session.CurrentUser?.RoleId == 2)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin-panel">
                    <span class="oi oi-people" aria-hidden="true"></span> Потребители
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin-resources">
                    <span class="oi oi-spreadsheet" aria-hidden="true"></span> Ресурси
                </NavLink>
            </div>
        }
@*
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Настройки
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() { collapseNavMenu = !collapseNavMenu; }
}