.navbar-brand {
    color: #012726!important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(1, 39, 38,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


.top-row {
    overflow: visible!important;
    background-color: #10B981;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

    .top-row .navbar-brand {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }

.navbar-toggler {
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
}

.nav-scrollable {

    overflow-y: auto;
    transition: transform 0.3s ease;
}


.nav-link {
    color: #1F2937 !important;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    line-height: 1.2rem!important;
}
    .nav-link:hover {
        font-weight: 600 !important;
        background-color: rgba(16, 185, 129, 0.3);
    }

    .nav-link.active {
        background-color: rgba(16, 185, 129, 0.2) !important;
        font-weight: 800 !important;
    }

        .nav-link.active:hover {
            background-color: rgba(16, 185, 129, 0.3) !important;
            font-weight: 800 !important;
        }

