.navbar-brand {
    color: #012726!important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(1, 39, 38,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

a.nav-link {
    color: #025754;
}

a.nav-link.active {
    color: #012726;
    font-weight: 600!important;
}

.nav-link:hover,
.nav-link:focus {
    color: #013634 !important;
    text-decoration: none !important;
    background-color: transparent !important;
}

a.nav-link.active:hover {
    color: #012726 !important;
}