@page "/signup"
@inject UserSessionService Session
@inject NavigationManager Nav
@inject MindLink.Data.MindLinkDbContext DbContext
@using MindLink.Data.Models
@using MindLink.Data.Services

<link href="css/mindlink-register.css" rel="stylesheet" />

<PageTitle>Регистрирай се в ML</PageTitle>

<div class="registration-page">
	<div class="registration-form">

		<div class="header">
			<div class="logo">ML</div>
			<h2>Създай акаунт</h2>
			<p class="muted">Започни своето MindLink пътуване ✨</p>
		</div>

		<div class="auth-container">

			<div class="row-short">
				<div class="field">
					<label>Име</label>
					<input type="text" @bind="FirstName" placeholder="напр. Иван" />
				</div>
				<div class="field">
					<label>Фамилия</label>
					<input type="text" @bind="LastName" placeholder="напр. Петров" />
				</div>
			</div>

			<div class="row-short">
				<div class="field">
					<label>Дата на раждане</label>
					<input type="date" @bind="user.Birthday" />
				</div>
				<div class="field">
					<label>Пол</label>
					<div class="gender-options">
						<label><input type="radio" name="gender" @onclick="() => SelectGender('m')" /> Мъж</label>
						<label><input type="radio" name="gender" @onclick="() => SelectGender('f')" /> Жена</label>
					</div>
				</div>
			</div>

			<div class="field">
				<label>Потребителско име</label>
				<input type="text" @bind="user.Username" placeholder="user_example" />
			</div>

			<div class="row-passwords">
				<div class="field">
					<label>Парола</label>
					<input type="password" @bind="user.Password" placeholder="••••••••••" />
				</div>
				<div class="field">
					<label>Потвърди парола</label>
					<input type="password" placeholder="••••••••••" />
				</div>
			</div>

			<button class="btn primary large" @onclick="CreateUser">
				Регистрация
			</button>

			<p class="muted small">
				Вече имаш акаунт? <a href="/login">Вход</a>
			</p>

		</div>
	</div>
</div>



@code
{
	private bool submitAttempted = false;

	private string FirstName;
	private string LastName;
	private bool isDropdownOpen = false;
	private string selectedRoleLabel = "- -  Изберете роля  - -";


	private void ToggleDropdown()
	{
		isDropdownOpen = !isDropdownOpen;
	}

	private void CloseDropdown()
	{
		isDropdownOpen = false;
	}

	private void SelectRole(int roleId)
	{
		user.RoleId = roleId;
		selectedRoleLabel = roleId switch
		{
			1 => "Ученик",
			2 => "Учител",
			3 => "Друго",
			_ => "- -  Изберете роля  - -"
		};
		isDropdownOpen = false;
	}

	UsersService _usersService = null!;
	User user = new User();
	private List<User> allUsers = new List<User>();
	bool isValidPassword = false;

	protected override async void OnInitialized()
	{
		_usersService = new UsersService(DbContext);
		user = new User();
		user.Password = "";
		allUsers = await _usersService.GetAllUsers();
	}

	private bool VerifyUser()
	{
		return !(VerifyUsername() && VerifyFirstName() && VerifyRole() && VerifyPassword());
	}

	private bool VerifyUsername()
	{
		return !string.IsNullOrEmpty(user.Username) && user.Username.Length > 5 && !allUsers.Any(x => x.Username == user.Username);
	}

	private bool VerifyPassword()
	{
		return !string.IsNullOrEmpty(user.Password) && user.Password.Length >= 12 && user.Password.Any(char.IsDigit) &&
					user.Password.Any(char.IsLower) && user.Password.Any(char.IsUpper) && user.Password.Any(x => !char.IsLetterOrDigit(x));
	}

	private void PasswordInput(ChangeEventArgs e)
	{
		user.Password = e.Value?.ToString();
	}

	private bool VerifyFirstName()
	{
		return (!string.IsNullOrEmpty(FirstName) && FirstName.Length > 2);
	}

	private bool VerifyLastName()
	{
		return (!string.IsNullOrEmpty(LastName) && LastName.Length > 2);
	}

	private bool VerifyRole()
	{
		return user.RoleId > 0;
	}

	private void SelectGender(char gender)
	{
		user.Gender = gender;
	}

	private void CreateUser()
	{
		submitAttempted = true;
		StateHasChanged();
		if (VerifyUser())
		{
			StateHasChanged();
			return;
		}
		else
		{
			user.Name = FirstName.TrimEnd() + " " + LastName.TrimEnd();
			user.UserCode = GenerateUniqueUserCode();
			_usersService.CreateUser(user);
			user = new User();
			Nav.NavigateTo("/success");
		}

	}

	private static string GenerateCode()
	{
		const string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
		Random random = new Random();
		return new string(Enumerable.Repeat(chars, 6)
			.Select(s => s[random.Next(s.Length)]).ToArray());
	}

	private string GenerateUniqueUserCode()
	{
		string code;
		do
		{
			code = GenerateCode();
		}
		while (UserCodeExists(code));

		return code;
	}

	private bool UserCodeExists(string code)
	{
		return _usersService.IsCodeExisting(code);
	}
}

<script>


</script>
