@page "/stats"
@inject NavigationManager Nav
@using Microsoft.AspNetCore.Identity
@using MindLink.Data.Models
@using MindLink.Data.Services
<link href="css/site.css" rel="stylesheet" />
<link href="css/MyProfile.css" rel="stylesheet" />

<PageTitle>MindLink - Начало</PageTitle>

<div class="profile-page">
	<div class="profile-card">

		<div class="profile-left">
			<div class="avatar">
			</div>

		</div>

		<div class="profile-right">
			<h3>Лична информация</h3>


				
		</div>
	</div>
</div>



@code {
	
}
