@page "/success"
@using MindLink.Data.Models
@using MindLink.Data.Services
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Identity;

<link href="css/mindlink-entry.css" rel="stylesheet" />
<link href="css/responsive.css" rel="stylesheet" />

<PageTitle>Успешна регистрация</PageTitle>

<div class="auth-container success-container">
        <div class="auth-card success-card">
        <img src="\images\logo-1.svg" alt="" style="height: 65px;">
        <h5>Добре дошли!</h5>
        <p class="muted">Вие успешно се регистрирахте в MindLink ✨</p>

        <p class="muted small">
            <a href="/login">Влез в профила си</a>
        </p>
    </div>
</div>
